.photoListEmpty {
    div:global(.ant-empty-image) {
        height: 270px;
        img {
            margin: 0 auto;
        }
    }
}

.photoListContainer {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);

    .photoItem:nth-child(5n){
        grid-column-end: span 2;
    }

    .photoItem {
        overflow: hidden;
        img {
            transition: transform .5s ease;
        }
        img:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }

    img{
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.editPhotoModal {
    top: 20px;
    img {
        margin: 0 auto;
    }
}
